.App {
  text-align: center;
}

.App .data{
  margin:2rem;
  padding: .2rem;
  border-color: #298e46;
  background-color: #ffffff;
  border-width: 1rem;
  border-radius: 25px;
  border-style:solid;
}

.Quotes {
  padding: .25rem;
  min-height: 10rem;
}

.Quotes p{
  padding: .25rem;
}

.SingleQuote p {
  font-size: 1.1rem;
  width: 75%;
  margin: 50px auto;
  font-family: Open Sans;
  color: #555555;
  padding: .7rem 30px .7rem 75px;
  border-left: 8px solid #78C0A8;
  line-height: 1.6;
  position: relative;
  background: #EDEDED;
}

.SingleQuote b {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1rem;
}

.RefreshQuotesButton {
  margin:1rem;
}

.RefreshQuotesButton button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.RefreshQuotesButton button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.RefreshQuotesButton button:hover {
  background-color: #2c974b;
}

.RefreshQuotesButton button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.RefreshQuotesButton button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.RefreshQuotesButton button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

